{% extends 'templates/app.twig' %}

{% block title %}
    <title>VAGAS | Vagas por E-mail</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Vagas</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path_for('home') }}">Home</a></li>
                <li class="active">Vagas</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Blank Page</h3> </div>
        </div>
    </div>
</div>
{% endblock %}